<div class="card mt-5">
  <div class="card-body">
    <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)" ngNativeValidate>

      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="taskService.selectedTask.$key">

      <app-calendar></app-calendar>

      <div class="form-group">
        <select  class="form-control"
        name="name"
        #location="ngModel"
        [(ngModel)]="taskService.selectedTask.name"
        placeholder="Add Task"
        required>
          <option value="Limpieza habitacion">Limpieza habitación</option>
          <option value="Cristaleria">Cristaleria</option>
          <option value="Desatascos">Desatascos</option>
          <option value="Jardineria">Jardineria</option>
        </select>
      </div>

      <div class="form-group">
        <select  class="form-control"
        name="location"
        #location="ngModel"
        [(ngModel)]="taskService.selectedTask.location"
        placeholder="Add Location"
        required>
          <option value="Abando 54, 3ºB">Abando 54, 3ºB</option>
          <option value="Basurto a Castrejana 53, 2ºC">Basurto a Castrejana 53, 2ºC</option>
          <option value="Miribilla 12, 4º IZQ">Miribilla 12, 4º IZQ</option>
        </select>

      </div>
      <div class="form-group">
        <input type="number"
        class="form-control"
        name="hours"
        #hours="ngModel"
        [(ngModel)]="taskService.selectedTask.hours"
        placeholder="Add Hours"
        required>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-plus-circle">Add task</i>
        </button>

        <button class="btn btn-secondary" type="reset" (click)="resetFrom(taskForm)">
          <i class="fas fa-sync.alt">Reset</i>
        </button>
      </div>

    </form>
  </div>
</div>
