<div class="card">
  <div class="card-body">
    <h6 class="text-center">List of products</h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let product of productList">
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>
            <a calss="btn btn-secondary text-white" (click)="onEdit(product)">
            <i class="far fa-edit">Editar </i>
          </a>
          <a calss="btn btn-danger text-white" (click)="onDelete(product.$key)">
              <i class="fas fa-trash-alt">Eliminar </i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>